# App dependencies
flask==2.3.2
requests==2.31.0

# OTel dependencies
opentelemetry-api==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-instrumentation-flask==0.42b0
opentelemetry-instrumentation-requests==0.42b0
